<div class="container mt40">
    <section class="row">
        <article class="col-xs-12 col-sm-6 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="#">
                        <%= image_tag("tutorial_library_home.jpg") %>
                    </a>
                </div>
            </div>
        </article>

        <article class="col-xs-12 col-sm-6 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="#">
                        <%= image_tag("tutor_connect_home.jpg") %>
                    </a>
                </div>
            </div>
        </article>

        <article class="col-xs-12 col-sm-6 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="#">
                        <%= image_tag("video_tutorials_home.jpg") %>
                    </a>
                </div>
            </div>
        </article>

        <article class="col-xs-12 col-sm-6 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="#">
                        <%= image_tag("coding_ground_home.jpg") %>
                    </a>
                </div>
            </div>
        </article>

    </section>
    <section class="row">

        <article class="col-xs-12 col-sm-6 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="#">
                        <%= image_tag("current_affairs_home.jpg") %>
                    </a>
                </div>
            </div>
        </article>

        <article class="col-xs-12 col-sm-6 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="#">
                        <%= image_tag("verbal_ability_home.jpg") %>
                    </a>
                </div>
            </div>
        </article>

        <article class="col-xs-12 col-sm-6 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="#">
                        <%= image_tag("numerical_ability_home.jpg") %>
                    </a>
                </div>
            </div>
        </article>

        <article class="col-xs-12 col-sm-6 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="#">
                        <%= image_tag("competitive_exams_home.jpg") %>
                    </a>
                </div>
            </div>
        </article>

    </section>
</div>
